fastapi
uvicorn
pydantic[email]
email-validator
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart

pytest
pytest-asyncio
httpx
pytest-env
groq
boto3
prometheus-client
python-json-logger
